/* Universal Elements */

/* Hopefully adds font to the website that is not registered with basic VS code */
@font-face {
    font-family:'OrelegaOne'; /*sets the name for font*/
    src: url(OrelegaOne-Regular.ttf); /* should connect to font file */
} 

@font-face {
  font-family:'Marcellus';
  src: url(Marcellus-Regular.ttf);
}
body {
  background-color:#ECE2D7;
  margin: 0;
}

a {
  text-decoration: none;
}

nav.carticon {
  display:flex;
}

/* Desktop Screen */

@media screen and (max-width:1440px) {
  /* Homepage Display */ 

  .mobilenavigation {
    display: none;
  }

.banner {
  position:relative;
  text-align: center;
  color:bisque;
  border-bottom-style: double;
  border-bottom-width: 10px;
  border-color:#7C8C68;
}

.centered {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #501313;
  padding: 30px;
  border-radius: 50px;
  opacity:80%;
  overflow:hidden;
}

/* add code to apply new font. Test successful */
.storetitle {
    font-family: 'OrelegaOne';
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color:#D9B382;
    color:transparent;
    font-size: 350%;
}

#aboutsection {
  color:#ECE2D7;
  display: flex;
  justify-content: left;
}

.findcategory {
  background-color:#501313;
  color:#ECE2D7;
  padding:10px;
  margin-bottom:20px;
  margin-top: 20px;
  opacity:80%;
}

.horizontal {
  display:grid; 
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
}
}


/* Navigation Bar Side-Bar */

/*
#Sidebar {
  display: flex;
  justify-content: left;
  background-color:#7C8C68;
  color:#ECE2D7;
  height:110%;
  width: 20%;
  margin-top: -1%;
  padding-top: 2%;
  position: fixed;
  z-index:10;
    ul {
      text-decoration: none;
      font-family: 'OrelegaOne';
      color:#ECE2D7;
      list-style-type: none;
      letter-spacing: 5px;
      line-height: 50px;
      inset: 50px;
    }
    a {
      color:#ECE2D7;
    }
}

/* Nav Horizontal */

.logo {
  display:flex;
  justify-content:left;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow:hidden;
  background-color:#7C8C68;
  color:#ECE2D7;
  display:flex;
  justify-content: space-evenly;
  align-items: center;
}

li {
  list-style-type:none;
  position: center;
  font-size:larger;
   line-height: 400%;
     color:bisque; 
 font-family: 'Marcellus';
 text-decoration:none;
}

a:hover {
  text-decoration:underline;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color:#501313;
}

/* Product Catalog Page -> Product Listings */

.productlisting {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 200px;
  max-height: 300px;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color:#7C8C68;
  color:bisque;
  border-radius: 25px;      /* Border-Radius for rounded corners. */  
  margin-top:5%;
    h1{
      font-size:120%;
    }
    p {
      font-size:80%;
    }
    img {
      border-radius: 20%;
    }
}

.linktoproductpage {
 margin: 1%;
}

/* div.productlisting {
display:flex;
  flex-direction: row;
}
  */

.price {
  color: bisque;
  font-size: 22px;
}

button:hover {
  opacity: 0.5;
}

button {
  background-color:#501313;
  color:bisque;
  padding: 5px;
  padding-left:3%;
  padding-right:3%;
  border-radius: 25px;
  font-family: 'OrelegaOne';
}

#recommended {
  color:#501313;
}

.news {
  background-color:#D9B382;
  align-items:center;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  padding:2%;
  border-radius: 50px;
  text-align: center;
}

p.news {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size:larger;
  background-color: #ECE2D7;
  text-align: center;
  margin-top:0%;
}

/* Product Catalog Title Card */
.headingbanner {
  background-color:#D9B382;
  opacity:0.8;
  padding-top: 60px;
  padding-bottom: 20px;
  padding-left: 20px;
  margin-bottom: 20px;
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  margin-top:2%;
  margin-left:2%;
  margin-right:2%;
}

.pc_title {
  text-align: center;
  font-family: 'OrelegaOne';
}

 #recommended {
text-align: center;
}

h2 {
  font-family: 'OrelegaOne';
  font-size:300%;
}

/* Arrow Buttons */
.arrowbuttons {
  display:flex;
  justify-content: center;
  padding: 5%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color:#D9B382;
  margin: 2%;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
}

.arrowbuttons span {
  margin: 0 1rem 0 1rem;
}



/* footer */
footer {
  background-color:#7C8C68;
  color:#ECE2D7;
  padding-top:5%;
  padding-bottom:2%;
  padding-left:5%;
  margin-top:5%;
    p,h3 {
      display: flex;
      justify-content: left;
      text-align: left;
    }
}

#searchbar {
  margin-left:5%;
}

/* Search */

#searchbar {
  margin-top: 3%;
  align-items: center;
}

/* Product Page */ 

.productinfo {
  margin: 5%;
  background-color:#D9B382; 
  display: flex;
  flex-direction: row;
  border-radius: 50px;
  padding:5%;
  border-style:double;
  border-color:#7C8C68;
  border-width:thick;
}

#glue {
  border-radius: 50px;
  margin-right:3%;
}

.productdescription {
  order:2;
  color:#501313;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 150%;
  text-indent:3%;
  text-align: center;
  h3 {
    font-family: 'OrelegaOne';
    font-size:xx-large;
  }
}

/* Shopping Cart */

.cartitem {
  border-bottom: #7C8C68;
  border-bottom-style: double;
  padding: 3%;
  margin:5%;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

#cart {
  margin-right:10%;
  border-radius:30px;
} 

.btn-danger {
  margin-left:10%;
} 

.remove {
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.checkoutbutton {
  margin:5%;
  transform: scale(2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkoutbutton button {
  padding-left: 3rem;
  padding-right:3rem;
  background-color: #7C8C68;
  cursor:pointer;
}

/* Check Out */

#checkoutheader {
  background-color:#7C8C68;
  border-radius: 80px;
  margin:3%;
}

#checkoutheader h1 {
  text-align: center;
}


.checkout_title {
  color:#ECE2D7;
  font-family: 'OrelegaOne';
  text-align:center;
  align-items: center;
  padding:5%;
}

.checkoutcardform {
  margin:5%;
  margin-top: 2%;
}

#checkoutcard {
  background-color: #D9B382;
  border-bottom-color:#ECE2D7;
  border-bottom-style: dashed;
  border-width: 5px;
  border-radius: 5rem 5rem 0rem 0rem;
  padding: 3rem;
  line-height: 2rem;
  
}

#checkoutinfo {
  background-color: #D9B382;
  padding: 3rem;
  border-radius: 0rem 0rem 5rem 5rem;
  line-height: 2rem;
}

#purchasequantity {
  background-color: #501313;
  padding: 0.5rem;
  border-radius:100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* requires adjustment in final design for cleanness. remove underline on hover*/
#purchasequantity:hover {
  text-decoration:none;
}

#purchasebutton {
  background-color: #7C8C68;
  padding: 2%;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 150%;
  font-family: 'OrelegaOne';
  border-radius: 50px;
  color:#ECE2D7;
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

#purchasebutton:hover {
  background-color:#501313;
}

.cartadvert {
display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    h1 {
      font-family: 'OrelegaOne';
    }
}

#checkout_advert {
  background-color:#7C8C68;
  margin: 3rem;
  margin-top:-1rem;
  padding:2rem;
  border-radius: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    h3 {
      color:#ECE2D7;
      font-family: 'OrelegaOne';
    }
    p {
      color:#ECE2D7;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
}


/* Mobile Screen Size Responsiveness */
@media screen and (max-width:391px){
  /* Home Page */
  .banner {
  position:relative;
  height: 40em;
  text-align: center;
  color:bisque;
  border-bottom-style: double;
  border-bottom-width: 10px;
  border-color:#7C8C68;
}
 
.banner img {
  height: 40em;
  width: 100em;
}
  
.centered {
     position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #501313;
  padding: 2rem;
  border-radius: 5rem;
  opacity:80%;
  overflow:hidden;
  }

  /* Navigation */ 

  .navigation img {
    transform: scale(0.5);
    max-width: 100vw;
  }


  /* Horizontal Scroll - How to Overflow?? fail */ 
  .horizontal {
    max-width: 390px;
    position:relative;
    overflow:auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }

  /* Search Page */ 
  section.headingbanner {
    margin:3rem;
  }

  /* Product Page  */

  /* Product Listing */ 
  .listProduct {
 transform: scale(0.8);
 align-content: start;
}

}

/* Product Listing Page */

.listProduct .item img {
  width:100%;
  filter:drop-shadow(10px 10px 5px #1f1a1a)
}

.listProduct h2 {
      font-size:large;
      color:#ECE2D7;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-weight:normal;
      letter-spacing: 2px;
    }


.price {
  color:#ECE2D7;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size:small;
}

.listProduct .item {
  background-color: #7C8C68;
  padding: 2rem 4rem 2rem 4rem;
  border-radius:20%;
  margin: 1rem;
  text-align:center;
  line-height: 0.5rem;
  transform: scale(0.8)
}

.addCart {
  padding: 5px 10px;
  margin-top: 1rem;
  cursor:pointer;
}

.cartTab {
  width: 400px;
  max-width: 90vw;
  background-color: #501313;
  opacity:90%;
  color:#ECE2D7;
  position: fixed;
  inset: 0 -400px 0 auto;
  display:grid;
  grid-template-rows: 70px 1fr 70px;
}


body.showCart .cartTab {
    inset: 0 0 0 auto;
}
    

.cartTab h1 {
  padding: 20px;
  margin: 0;
  font-family: 'OrelegaOne';
  font-weight: 400;
}

.cartTab .btn {
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.cartTab .btn button {
  background-color: #D9B382;
  margin: 1rem;
  color:#501313;
  cursor:pointer;
}

.cartTab .btn .checkOut {
  background-color: #7C8C68;
  color:#ECE2D7;
}

.cartTab .listCart .item img {
  width:100%;
}

.cartTab .listCart .item {
  display: grid;
  grid-template-columns: 70px 150px 50px 1fr;
  gap:10px;
  text-align: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cartTab .listCart .item .name {
  letter-spacing: 3px;
}

.listCart .quantity span {
  display: inline-block;
  width: 25px;
  background-color: #D9B382;
  color:#501313;
  border-radius: 100px;
  cursor:pointer;
}

.listCart .quantity span:nth-child(2) {
  background-color: transparent;
  color:#ECE2D7;
}

.listCart .item:nth-child(even) {
  background-color:#822c21;
}

.listCart{
  overflow: auto;
}

.listCart::-webkit-scrollbar{
  width:0;
}