/* Hopefully adds font to the website that is not registered with basic VS code */
@font-face {
    font-family:'OrelegaOne'; /*sets the name for font*/
    src: url(OrelegaOne-Regular.ttf); /* should connect to font file */
} 

@font-face {
  font-family:'Marcellus';
  src: url(Marcellus-Regular.ttf);
}
body {
  background-color:#ECE2D7;
  margin: 0;
}

/* Navigation Bar Side-Bar */
/*
nav {
  display: flex;
  justify-content: left;
  background-color:#7C8C68;
  color:#ECE2D7;
  height:110%;
  width: 20%;
  margin-top: -1%;
  padding-top: 2%;
  position: fixed;
  z-index:10;
}

/* issue -> blocks the nav buttons when aligned left
.ad_contact {
  color:blue;
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: -80%;
} */

/* Nav Horizontal */
.logo {
  display:flex;
  justify-content:left;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#7C8C68;
  color:#ECE2D7;
}
li {
  list-style-type:none;
  position: center;
  font-size:larger;
  padding-left: 5%;
    line-height: 400%;
     color:bisque; 
 font-family: 'Marcellus';
 text-decoration:none;
}

a:hover {
  text-decoration:underline;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color:#501313;
}

/* Homepage Display */ 

.banner {
  position: relative;
  text-align: center;
  color:bisque;
  border-bottom-style: double;
  border-color:#7C8C68;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #501313;
  padding: 30px;
  border-radius: 50px;
  opacity:80%;
}

#aboutsection {
  color:#ECE2D7;
  justify-content: left;
}

.findcategory {
  background-color:#501313;
  color:#ECE2D7;
  padding:10px;
  margin-bottom:20px;
  margin-top: 20px;
  opacity:80%;
}

/* add code to apply new font. Test successful */
.storetitle {
    font-family: 'OrelegaOne';
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: orange;
}

/* Product Catalog Page -> Product Listings */

.productlisting {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color:#7C8C68;
  color:bisque;
  border-radius: 25px;      /* Border-Radius for rounded corners. */
}


.price {
  color: bisque;
  font-size: 22px;
}

button:hover {
  opacity: 0.5;
}

button {
  background-color:#501313;
  color:bisque;
  padding: 5px;
  border-radius: 25px;
  font-family: 'OrelegaOne';
}

#recommended {
  color:#501313;
}

.news {
  background-color:aqua;
  align-items:center;
}

/* Product Catalog Title Card */
.productcatalog {
  background-color:#D9B382;
  opacity:0.8;
  padding-top: 60px;
  padding-bottom: 20px;
  padding-left: 20px;
  margin-bottom: 20px;
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
}

.pc_title {
  text-align: center;
  font-family: 'OrelegaOne';
}

 #recommended {
text-align: center;
}

h2 {
  font-family: 'OrelegaOne';
  font-size:300%;
}